beautifulsoup4==4.13.3
certifi==2025.1.31
chardet==5.1.0
command-not-found==0.3
cryptography==44.0.0
dbus-python==1.3.2
distro==1.9.0
distro-info===1.0
html5lib==1.1
idna==3.7
language-selector==0.1
lxml==5.3.0
netifaces==0.11.0
numpy==1.26.4
packaging==24.2
pandas==2.0.3
patsy==1.0.1
pssh==2.3.1
PyGObject==3.48.1
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==25.0.0
pyparsing==3.2.0
python-apt==2.0.0+ubuntu0.20.4.3
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0
requests==2.32.2
requests-unixsocket==0.3.0
scipy==1.13.0
six==1.17.0
soupsieve==2.5
ssh-import-id==5.11
statsmodels==0.14.4
ubuntu-advantage-tools==20.3
ufw==0.36
unattended-upgrades==0.1
urllib3==2.3.0
webencodings==0.5.1
