name: Code quality checks
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]


env:
  GOOS: linux
  GO111MODULE: on

jobs:
  resolve-modules:
    name: Resolve Modules
    runs-on: self-hosted
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v3
      - id: set-matrix
        run: ./utils/golangci-lint/resolve-modules.sh

  golangci:
    name: GolangCI Lint
    needs: resolve-modules
    runs-on: self-hosted
    strategy:
      matrix: { dir: ['cmd', 'pkg', 'tools/plotter'] }
      fail-fast: false
    steps:
      - name: Setup Go 1.19
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Install dependencies for cgo
        run: sudo apt update && sudo apt install libsnmp-dev

      - name: Checkout code into go module directory
        uses: actions/checkout@v3
        
      - name: Lint with golangci-lint
        uses: golangci/golangci-lint-action@v3.4.0
        with:
          working-directory: ${{ matrix.dir }}
          args: --timeout 5m
