name: Tools tests

on:
  push:
    branches: [ main ]
    paths:
      - "tools/**"
  pull_request:
    branches: [ main ]
    paths:
      - "tools/**"
  workflow_dispatch:

env:
  GOOS: linux
  GO111MODULE: on

jobs:
  unit_tests:
    name: Unit Tests
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        module: [ tools/plotter, tools/multi_loader/runner]
    steps:
    - name: Set up Golang
      uses: actions/setup-go@v5
      with:
        go-version: 1.22

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Run tests
      working-directory: ${{ matrix.module }}
      run: go test -cover -race
